* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: lightgreen;
}
.error_msg {
  display: none;
}

.card {
  width: 90%;
  max-width: 470px;
  background: #73dc73;
  color: white;
  margin: 100px auto 0;
  border-radius: 4px;
  padding: 30px 45px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #fff;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#wind {
  height: 60px;
  width: 60px;
}

span {
  font-size: 40px;
  max-width: 60px;
  word-wrap: break-word;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

@media(max-width:435px){
  .details{
    flex-direction:column !important;
    row-gap: 30px !important;
    margin-top: 21px !important;
  }
}
